.topnav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
}
.topnav-list-item {
  border: 2px solid #444444;
  border-radius: 5px;
  cursor: pointer;
  font-family: Consolas, monaco, monospace;
  font-size: 14px;
  padding: 5px 10px;
}
nav {
  margin-bottom: 1em;
}
