.congress-header,
.congress-subheader {
  text-align: center;
}

.congress {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.congress h3 {
  text-align: center;
}

.chamber-data {
  margin: 0 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.chamber-data > section {
  margin: 0 1em;
}

.congress-citation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1em;
  text-align: center;
}

.congress-party-chart-legend {
  display: flex;
  justify-content: center;
}

.congress-party-chart-legend-item {
  height: 1em;
  width: 1em;
  margin-right: 1em;
}

.congress-party-chart-legend-item-male {
  background: #00d136;
  color: #00d136;
}

.congress-party-chart-legend-item-female {
  background: #b533ff;
  color: #b533ff;
  margin-left: 1em;
}

.congress-party-chart-section {
  display: inline-block;
}

.congress-party-chart-section-header {
  text-align: center;
}

.chamber-members {
  display: block;
  text-align: center;
}

.congress-member h2,
.congress-member h3 {
  text-align: center;
}

.congress-members,
.congress-member ul {
  margin: 0;
  padding: 0;
}

.congress-members > li {
  margin: 1em;
  list-style: none;
}

.congress-member li {
  list-style-type: none;
}

.congress-member-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1em;
}

.congress-member .term-info {
  margin: 2em 0;
}

.congress-member .information {
  min-width: 350px;
  max-width: 80%;
  margin: 0 auto;
}

.congress-member .footnote {
  font-size: 0.75em;
  text-align: center;
}

@media screen and (max-width: 740px) {
  .chamber-chart {
    margin: 0 -1em;
  }
  .chamber-data > section {
    margin: initial;
  }

  .congress-party-section {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
