.congress-header,
.congress-subheader {
  text-align: center;
}

.congress {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.congress h3 {
  text-align: center;
}

.chamber-data {
  margin: 0 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.chamber-data > section {
  margin: 0 1em;
}

.congress-citation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1em;
  text-align: center;
}

@media screen and (max-width: 740px) {
  .chamber-chart {
    margin: 0 -1em;
  }
  .chamber-data > section {
    margin: initial;
  }
}
